* {
margin: 0;
padding: 0;
width: 100%;
box-sizing: border-box;
/*border: 2px dashed blue;*/
}


html, body {
  height:100%;
  width:100%;
  background: #00bfff;
  /*border: 2px dashed green;*/
}



#nav {
  width:100%;
  background: #00467c;
  height:20%;
  position: static;
}

#profilePic {
  width:200px;
  height:100%;
  background: blue;
  float:left;
}

.navBarlinks {
  width:40%;
  height:100%;
  /*border: 2px dashed purple;*/
  float:right;
}

#about, #portfolio {
  display:inline;
  margin: auto 50px;
  font-family: 'Lato', sans-serif;
  font-size: 50px;
  /*border: 2px dashed yellow;*/
  padding:20px 20px;
  color: white;
}

#about-page {
  width:100%;
  height:80%;
  /*border: 2px dashed green;*/
}

#about-page-info {
  text-align:center;
  margin-top: 200px;
  width: 100%;
  height: 30%;
  font-family: 'Lato', sans-serif;
  font-size: 100px bold;
}

#title {
  font-size: 500px bold;
}
