/* RESET */

* {
margin: 0;
padding: 0;
box-sizing: border-box;
}


html, body {
  height:100%;
  width:100%;
  background: #00bfff;
}

hr {
  margin: 1em;
  width: 80%;
}

/*TEXT STYLES
=======================================*/
p {
  font-size: 1em;
}

address {

}
a {
  text-decoration: none;
}

h1{
  font-size:4em;
  font-family: 'Lato', sans-serif;
}

/*LINK STYLES
=======================================*/
