/*Still not exactly sure what to put into the layout css file...*/

@media screen and (min-width: 1000px) {

#icon-menu, #icon-menu-clicked{
  display:none;
  float:right;

  color:white;
}
.nav-bar-links li {
  display:inline;

}
#about-icon, #portfolio-icon, #twitter-icon {
  display:inline;

}
}
