
#nav {
  width:100%;
  background: #00467c;
  height:20%;
  position: static;
}


.navBarlinks {
  /*width:20%;*/
  /*height:100%;*/
  display:inline;
  float:right;
  /*display:none;*/

}

#about, #portfolio {
  /*display:none;*/
  
  padding: 0 20px;
  font-family: 'Lato', sans-serif;
  font-size: 2em;
  color: white;
  list-style-type: none;
}

#about-icon, #portfolio-icon {
  display:inline;
  font-size:2em;
  color:white;
}

#about-page {
  width:100%;
  height:50%;
  /*border: 2px dashed green;*/
}

#about-page-info {
  text-align:center;
  margin-top: 200px;
  width: 100%;
  height: 30%;
  font-family: 'Lato', sans-serif;
  font-size: 100px bold;
}

#title {
  font-size: 500px bold;
}

#icon-menu {
  float:right;
  margin:auto 0;
  font-size:2em;
  /*height:10px;*/
  /*width:10px;*/
  color:white;
}

.template {
  display:none;
}

header {
  text-align: center;
  font-family: 'Lato', sans-serif;
  font-size: 30px;
  color: white;
}
